* { /*sizes boxes to avoid adding issues with padding and border */
  box-sizing: border-box;
}

body {
    /*padding: 0;*/
    /*margin: 0;*/
    background-color: #F2D680;
    color: #0D0C0E;
}
html, body, #map {
    height: 90%;
}
h1 {
  text-align: center;
}

button {
  border-radius: 20px;
}

section {
  margin: 5px;
}
footer {
  margin-bottom: 60px;
}

.submit {
  background-color: #428C77;
  border-color:#FFB50B;
}
.clear {
  background-color: #DA062F;
  border-color: #428C77;
}
.display {
  margin: 0 auto;
  border-color: #DA062F;
  text-align: left;
}
#route-number {
  background-color: #F2D680;
  color: #428C77;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
.route-interaction {
  background-color: #5E7B8C;
/*  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
*/  text-align: center;
}

