<!DOCTYPE html>
<html lang="en" data-ng-app="MapApp">
<head>
  <meta charset="UTF-8">
  <title>Bus Route Mapper</title>

  <!-- material design lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- app styling -->
  <link rel="stylesheet" type="text/css" href="application.css">
</head>

<body data-ng-controller="RouteController">

  <header>
    <h1>BUS ROUTE MAPPER</h1>
    <nav>
      <form class="route-form" name="enterRouteNumber" data-ng-submit="displayRoute(busRoute)">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field">
          <input class="mdl-textfield__input" type="text" id="routeNumber" data-ng-model="busRoute">
          <label class="mdl-textfield__label route-input" for="routeNumber">ENTER ROUTE</label>
        </div>
        <button type="submit" name="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">add</i>
        </button>
      </form>

      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored clear-all-button" type="button" name="clearRoutes" data-ng-click="clearRoutes()">
        <i class="material-icons">clear</i>
      </button>

      <!-- Right aligned menu below button -->
      <button id="demo-menu-lower-right"
              class="mdl-button mdl-js-button mdl-button--icon menu-button">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li disabled class="mdl-menu__item">About</li>
        <li disabled class="mdl-menu__item">Login</li>
        <li disabled class="mdl-menu__item">Map Theme</li>
        <li disabled class="mdl-menu__item">Plot Favorites (enabled when logged in)</li>
      </ul>

    </nav>
  </header>

  <aside>
    <table>
      <thead>
        <tr>
          <th>ROUTE</th>
          <th>COLOR</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ng-cloak" data-ng-repeat="busRouteData in busRouteDatas">
          <td class="route-label-cell">{{busRouteData.properties.ROUTE}}</td>
          <td class="color-box-cell">
            <div class="color-box" style="background-color: {{busRouteData.properties.colorCode}}"></div>
          </td>
          <td class="clear-button-cell">
            <button type="button" class="mdl-button mdl-js-button mdl-button--icon clear-button" data-ng-click="deleteRoute(busRouteData)">
              <i class="material-icons">clear</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </aside>

  <main>

      <map data-ng-controller="MapsController">
        <leaflet height="100%" width="100%" lf-center="seattle"></leaflet>
      </map>

  </main>

  <script src="bundle.js"></script>
</body>
</html>
