@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
  color: #F2F2F2;
  background-color: #262526;
  height: 100%;
}

body {
  height: 100%;
}

header {
  border-bottom-width: 2px;
  border-bottom-color: #404040;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 240px;
  height: calc(100% - 82px);
  display: inline-block;
  border-right: 2px;
  border-style: solid;
  border-color: #404040;
  margin-right: -4px;
}

main {
  display: inline-block;
  padding-left: 8px;
  height: calc(100% - 91px);
  width: calc(100% - 260px);
}
