html {
  color: #F2F2F2;
  background-color: #262526;
  height: 100%;
}

body {
  height: 100%;
}

header {
  height: 64px;
  // margin: 0 10px;
  border-bottom-width: 2px;
  border-bottom-color: #404040;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

h1 {
  font-size: 2.618em;
  // margin: 10px 12px;
}

main {
  height: calc(100% - 70px);
}

aside {
  width: 240px;
  height: 100%;
  display: inline-block;
  border-right: 2px;
  border-style: solid;
  border-color: #404040;
}

map {
  // margin: 10px;
  height: 100%;
  width: calc(100% - 246px);
  display: inline-block;
}
