h1 {
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  margin-top: 7px;
  margin-left: 14px;
  margin-bottom: 9px;
}

nav {
    display: flex;
}

.route-form {
  width: 360px;
}

.nav-button {
  height: 20px;
  margin-left: 20px;
}

.menu-button {
  margin-left: 20px;
}
